# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build folders
build/
dist/
.next/
out/

# React
frontend/node_modules/
frontend/build/

# Backend
backend/node_modules/

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/

# Coverage
coverage/

# Temp files
tmp/
temp/
